<div class="grid_3 section">
  <p class="title">contato</p>
  <p>
    leve o guru sorocaba <strong>(gratuitamente)</strong> para palestrar, ministrar um curso ou fazer um encontro na sua universidade ou empresa :)
    <br /><br />
  </p>
  <p class="slash">
    <%= link_to "twitter", "http://twitter.com/gurusorocaba", :rel => "nofollow", :target => "_blank" %>
    <%= link_to "facebook", "http://www.facebook.com/groups/gurusorocaba", :rel => "nofollow", :target => "_blank" %>
    <%= link_to "flickr", "http://www.flickr.com/photos/gurusorocaba", :rel => "nofollow", :target => "_blank" %>
    <%= mail_to "gurusorocaba@gmail.com", "e-mail" %>
  </p>
</div>