body { font-size: 12px; line-height: 14px; color: #333; font-family: Helvetica, Arial, sans-serif; padding: 0px 9px 36px 9px; text-transform: lowercase; }

a:link { color: inherit; text-decoration: none; }
a:visited { color: inherit; text-decoration: none; }
a:active { color: #333; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }
 
#header { min-height: 50px; }
	#header h1 { font-size: 32px; line-height: 36px; padding: 20px 4px 0px 4px; color: #CC2304; }
	
#content { margin-top: 20px; }
h2 { font-weight: bold; font-size: 18px; line-height: 21px; margin-top: -1px; margin-bottom: 8px; padding: 0px 4px 0px 4px; }

nav { color: #999; font-weight: bold; font-size: 18px; line-height: 21px; margin-top: -1px; margin-bottom: 8px; padding: 0px 4px 0px 4px; }
	nav a:after { content: " /"; }
	nav a.active { color: #CC2304; }
	
.section { color: #666; }
	.section .title { color: #000; font-weight: bold; margin-bottom: 14px; }
	.section p a:after { content: " /"; }
	.section .agenda { margin-bottom: 10px; }
	.section .agenda .agenda-title { font-weight: bold; }
	.section .agenda .description { margin-bottom: 5px; }
	.section .about p { margin-bottom: 10px; }

input[type="text"], input[type="email"], input[type="password"], input[type="search"], textarea { border: 1px solid #999; border-radius: 3px; font-family: inherit; font-size: 12px; color: #666; padding: 2px; margin: 0; }
textarea { height: 160px; }
.grid_4 input[type="text"], .grid_4 textarea { width: 228px; }
.grid_4 select { max-width: 232px; }

.grid_6 input[type="text"], .grid_6 input[type="password"], .grid_6 input[type="search"] { width: 350px; }
.grid_9 input[type="text"], .grid_9 input[type="password"], .grid_9 input[type="search"] { width: 530px; }

.form-header { margin-bottom: 16px; margin-left: 2px; margin-right: 2px; }

.field { margin-bottom: 16px; }
label { color: #333; display: block; font-weight: bold; margin: 0; padding: 2px 2px 4px 2px; }
label.no-block { color: #333; display: inline; font-weight: normal; margin: 0; padding: 0px; }

#error_explanation, .form-messages { font-size: 13px; line-height: 18px; padding: 8px 16px; margin-top: 12px; border-bottom-left-radius: 6px 6px; border-bottom-right-radius: 6px 6px; border-top-left-radius: 6px 6px; border-top-right-radius: 6px 6px; }
  #error_explanation h2, .form-messages h2 { color: #C00; margin: 0px 0px 0px 0px; font-weight: bold; }
  #error_explanation ul, .form-messages ul { list-style: disc inside; }
#error_explanation, .form-messages.error { color: #C00; background: #FFEEEE; }
.form-messages.success { color: #3C3; background: #DDFFDD; font-weight: bold; }

.form-devise { padding: 0 4px; }
	.form-devise h2 {margin-bottom: 20px;}
	.form-devise p { margin: 4px 0px; }
	.form-devise p input[type="submit"] { margin: 16px 0px; }
